*{
	font-family: 'Roboto';
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin: auto;
}

img {
	z-index:-1;
}

h1{
	margin:auto;
	text-align: center;
}

.form{
	margin: auto;
	border: none;
	z-index: 1;
}

textarea {
	    border: 1px solid #7FFFD4;
	        width: 200px;
	        float: center;
	        font-size: 14px;
	        background-color: rgba(0,0,0,0);
}

fieldset {
    border: 1px solid #7FFFD4;
    width: 300px;
    float: center;
    margin: auto;
}
.button {
    background-color: #7FFFD4; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: auto;
    cursor: pointer;
}

.button1 {
    background-color: rgba(0,0,0,0); 
    color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: 2px solid #7FFFD4;
}

.button1:hover {
    background-color: #7FFFD4;
    color: white;
}


.my-container {
    position: relative;
    overflow: hidden;
}
.my-container h1 {
    padding: 200px;
    position: relative;
    z-index: 2;
} 
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}