*{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
body{
	background: url(https://s-media-cache-ak0.pinimg.com/originals/f4/c6/81/f4c681801f430303283140bbf9f75cf0.jpg) top center no-repeat;
	background-color: #1C6D75;
}

h1{
	margin:auto;
	text-align: center;
	height: 600px;
}

form{
	margin: auto;
	border: none;
}

textarea {
	    border: 1px solid #7FFFD4;
	        float: center;
	        font-size: 14px;
	        background-color: rgba(0,0,0,0);
}


fieldset {
    border: none;
    float: center;
    margin: auto;
}

.button {
    background-color: #7FFFD4; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: auto;
    cursor: pointer;
    width:150px;

}

.button1 {
    background-color: rgba(0,0,0,0); 
    color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: 1px solid #7FFFD4;
}

.button1:hover {
    background-color: #7FFFD4;
    color: white;
}

.label{
	display: inline-box;
	width: 200px;
}
